.bg {
  background: linear-gradient(var(--cor-3), var(--cor-4));
}
.topo {
  display: flex;
  flex: 2 2 auto;
  flex-direction: row;
  justify-content: space-between;
}
.logo1 {
  max-width: 500px;
  margin-left: 60px;
  margin-top: 20px;
  width: 80px;
  height: 80px;
}
.comece {
  display: flex;
  flex-direction: column;
  width: 1100px;
  position: relative;
}
.comece::after {
  content: "";
  width: 180px;
  height: 10px;
  background-color: var(--cor-5);
  border-radius: 90px;
  position: absolute;
  opacity: 80%;
  filter: blur(10px);
  top: 420px;
  left: 480px;
}
.titulo {
  padding: 40px;
  text-align: center;
  text-transform: uppercase;
  color: var(--cor-1);
  font-weight: var(--titulo);
  font-size: 2rem;
  width: 800px;
}

.landing {
  width: 760px;
  height: 600px;
  margin-top: -170px;
  position: relative;
}

.ensina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  gap: 10px;
  margin-top: -90px;
}
.ensina h1 {
  font-weight: var(--texto);
  font-size: 2.3rem;
  width: 800px;
  text-align: center;
  color: var(--cor-1);
  padding: 20px;
  line-height: 1.1;
}
.botao1 {
  background-color: var(--cor-0);
  width: 750px;
  height: 55px;
  border-radius: 50px;
  border-color: #bfa908;
  box-shadow: 2px 0px 9px #6c5f00;
  font-weight: var(--texto);
  font-size: 1.2rem;
  margin-top: -20px;
}
.botao1:hover {
  transition: 0.1s ease-out;
  background: #e2ddb4;
}
/* notebook com landing page*/
.incentivo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  gap: 10px;
  margin-top: 80px;
}

.incentivotexto {
  width: 400px;
  font-weight: var(--texto);
  text-align: justify;
  font-size: 1.5rem;
  color: var(--cor-1);
  margin-left: 50px;
  line-height: 1.2;
  margin-top: -100px;
}
.incentivotexto span {
  color: var(--cor-0);
  font-size: 1.8rem;
  line-height: 1;
}
.incentivo img {
  width: 600px;
  height: 620px;
}
/* rota*/
.rotas {
  display: flex;
  flex-direction: column;
  width: 1400px;
  align-items: center;
  justify-content: center;
}

.rota {
  width: 500px;
  height: 580px;
}
.rotas p {
  font-weight: var(--texto);
  font-size: 2rem;
  width: 800px;
  text-align: center;
  color: var(--cor-1);
  padding: 20px;
  line-height: 1.1;
}
.rotas span {
  color: var(--cor-0);
  font-size: 1.8rem;
  line-height: 1;
}
.botao {
  background-color: var(--cor-0);
  width: 750px;
  height: 55px;
  border-radius: 50px;
  border-color: #bfa908;
  box-shadow: 2px 0px 9px #6c5f00;
  font-weight: var(--texto);
  font-size: 1.2rem;
  margin-top: -20px;
}
/* lista do ideal*/
.guiaideal h1 {
  padding: 40px;
  text-transform: uppercase;
  color: var(--cor-1);
  font-weight: var(--titulo);
  font-size: 1.8rem;
  width: 960px;
  margin-top: 80px;
  margin-left: 280px;
}
.listas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.listas ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.lista1 li {
  font-weight: var(--texto);
  color: var(--cor-1);
  line-height: 1.2;
  font-size: 1.3rem;
  text-align: center;
  align-content: center;
  width: 380px;
  height: 150px;
  background: #5a3898;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 4px #a27cf1);
}
.lista2 li {
  font-weight: var(--texto);
  color: var(--cor-1);
  font-size: 1.3rem;
  line-height: 1.2;
  text-align: center;
  align-content: center;
  width: 380px;
  height: 150px;
  background: #5a3898;
  border-radius: 15px;
  margin-left: 20px;
  filter: drop-shadow(0px 4px 4px #a27cf1);
}
/*lista do que vai aprender*/
.aprender {
  display: flex;
  flex-direction: column;
  width: 1000px;
}
.aprender h1 {
  padding: 40px;
  text-transform: uppercase;
  color: var(--cor-1);
  font-weight: var(--titulo);
  font-size: 1.8rem;
  width: 960px;
  margin-top: 80px;
  margin-left: 200px;
  text-align: center;
  justify-content: center;
}
.lista3 {
  width: 1000px;
  position: relative;
  margin-left: 200px;
}
.lista3 ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.lista3 li {
  font-weight: var(--texto);
  color: var(--cor-1);
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  align-content: center;
  width: calc(40% - 80px);
  height: 80px;
  margin-right: 80px;
  margin-bottom: 40px;
  padding: 10px 40px;
  background-color: var(--cor-0);
  color: var(--cor-4);
  border-radius: 10px;
  filter: drop-shadow(0px 2px 2px var(--cor-5));
}
.lista3 li::before {
  content: "";
  background-image: url("/img/SETA.svg");
  z-index: 1;
  width: 30px;
  height: 20px;
  position: absolute;
  margin-left: -40px;
}

.contrato {
  display: flex;
  justify-content: center;
}
.contrato h1 {
  padding: 100px;
  text-transform: uppercase;
  color: var(--cor-1);
  font-weight: var(--titulo);
  font-size: 3rem;
  text-align: center;
  width: 500px;
}
.contrato img {
  width: 600px;
  height: 400px;
}
.assinar {
  display: flex;
  justify-content: center;
}
.botao2 {
  background-color: var(--cor-1);
  width: 750px;
  height: 55px;
  border-radius: 50px;
  border-color: var(--cor-5);
  box-shadow: 0px 2px 6px var(--cor-5);
  font-weight: var(--texto);
  font-size: 1.2rem;
  margin-top: 20px;
}
.botao2:hover {
  transition: 0.1s ease-out;
  background: var(--cor-0);
}

.investimento {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.investimento h1 {
  text-transform: uppercase;
  color: var(--cor-1);
  font-weight: var(--titulo);
  font-size: 2.5rem;
  width: 760px;
}
.glass {
  background: #5a3898;
  border: 1px solid #999999;
  box-shadow: 2px 2px 5px 1px #5a3898;
  border-radius: 20px;
  width: 750px;
  height: 500px;
  margin-top: 60px;
  display: flex;
  padding: 20px;
  color: var(--cor-1);
  position: relative;
  z-index: 1;
}
.glass-content {
  display: flex;
  flex-direction: row;
}
.glass::before {
  content: "";
  position: absolute;
  width: 790px;
  height: 540px;
  background: rgba(255, 255, 255, 0.17);
  filter: opacity(60%);
  z-index: -1;
  border-radius: 20px;
  inset: 0;
  filter: blur(10px);
}
.receber h2 {
  margin-top: 60px;
  margin-left: 40px;
}
.logoguia {
  width: 80px;
  height: 80px;
  margin-left: 80px;
  margin-top: 20px;
}
.listareceber {
  font-weight: var(--texto);
  margin-top: 30px;
  list-style: none;
  line-height: 2;
}
.valores {
  margin-top: 140px;
  line-height: 30px;
  margin-right: -50px;
}
.botao3 {
  background-color: var(--cor-0);
  width: 340px;
  height: 45px;
  border-radius: 50px;
  border-color: #bfa908;
  box-shadow: 2px 0px 9px #6c5f00;
  font-weight: var(--texto);
  font-size: 0.8rem;
  margin-top: 20px;
  margin-right: 50px;
}
.botao3:hover {
  transition: 0.1s ease-out;
  background: #e2ddb4;
}
.Promo {
  position: relative;
  margin-left: 15px;
  font-size: 1.2rem;
}
.Promo::after {
  content: "";
  position: absolute;
  width: 90px;
  height: 2px;
  background: #ffffff;
  z-index: -1;
  margin-top: 12px;
  margin-left: -190px;
}

.cifrao {
  font-size: 3rem;
  font-weight: var(--detalhe);
  margin-top: 50px;
  margin-top: 10px;
}
.valor {
  font-size: 4.75rem;
  font-weight: var(--titulo);
  margin-left: 90px;
  margin-top: -30px;
}
.vezes {
  font-weight: var(--texto);
  font-size: 1.2rem;
}
.avista {
  font-weight: var(--texto);
  font-size: 1.2rem;
  margin-top: 20px;
  margin-left: 20px;
}

/*sobre a mentora*/
.mentora {
  display: flex;
  width: 800px;
  margin-top: 50px;
}
.minhafoto {
  width: 450px;
  height: 450px;
  margin-top: 10px;
}

.eu {
  color: #ffffff;
  width: 500px;
  font-size: 2rem;
  text-align: center;
  line-height: 1.3;
  margin-top: 80px;
  margin-right: 0px;
}
.profissao {
  font-weight: var(--detalhe);
  font-size: 1.7rem;
  margin-top: 10px;
  color: #ffffff;
  margin-left: 40px;
}
.mentoratexto {
  color: #ffffff;
  text-align: center;
  line-height: 1.3;
  margin-top: 220px;
  margin-left: 0px;
}
.mentoraparagrafo {
  font-weight: var(--texto);
  font-size: 1.5rem;
  width: 560px;
}
/*garantia e tirar duvidas*/
.duvidas {
  display: flex;
  background-color: #a27cf1;
  height: 270px;
  justify-content: space-between;
}
.garantia {
  width: 200px;
  height: 200px;
  margin-left: 200px;
  margin-top: 40px;
}
.falar {
  margin-right: 150px;
  margin-top: 80px;
}
.ainda {
  font-weight: var(--texto);
  font-size: 2rem;
  margin-bottom: 10px;
  margin-left: 40px;
}
.falarbotao {
  width: 450px;
  height: 60px;
  border-radius: 20px;
  background-color: #9df230;
  border-color: #9df230;
  box-shadow: 2px 2px 10px var(--cor-4);
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0px;
}
.whats {
  width: 50px;
  height: 40px;
  margin-left: 50px;
  margin-top: 0px;
  padding: 0px;
}
.falartexto {
  width: 350px;
  margin-right: 60px;
  font-size: 1rem;
  text-decoration: none;
  color: var(--cor-5);
}

@media (min-width: 769px) and (max-width: 1279px) {
  .titulo {
    width: 600px;
    margin-left: -50px;
  }
  .landing {
    width: 600px;
    height: 500px;
    margin-top: -40px;
    margin-left: -40px;
  }
  .comece {
    width: 600px;
  }
  .comece::after {
    top: 510px;
    left: 310px;
    width: 150px;
  }
  .ensina h1 {
    width: 650px;
    margin-top: 10px;
  }
  .botao1 {
    width: 600px;
    height: 85px;
    margin-top: 10px;
  }
  .incentivo img {
    width: 300px;
    height: 300px;
  }
  .incentivotexto {
    width: 400px;
    font-size: 1.8rem;
    color: var(--cor-1);
    margin-left: 0px;
    line-height: 1.2;
    margin-top: -10px;
  }
  .rotas {
    width: 650px;
    margin-top: 40px;
    margin-left: 40px;
  }
  .rotas p {
    margin-top: 40px;
    font-size: 2rem;
    width: 650px;
    text-align: center;
    padding: 20px;
    line-height: 1.1;
  }
  .botao {
    width: 600px;
    height: 85px;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-left: 20px;
  }
  .guiaideal h1 {
    font-size: 2rem;
    width: 550px;
    line-height: 1.2;
    margin-left: 140px;
  }
  .lista1,
  .lista2 {
    margin-right: 50px;
    padding: 10px;
  }
  .lista1 li {
    width: 220px;
    height: 200px;
  }
  .lista2 li {
    margin-top: -10px;
    width: 220px;
    height: 200px;
  }
  .aprender{
width: 700px;
  }

  .aprender h1 {
    padding: 40px;
    font-size: 1.8rem;
    width: 650px;
    margin-top: 20px;
    margin-left: 100px;
  }
  .lista3 {
    margin-left: 60px;
    width: 700px;
  }
  .lista3 li {
    width: calc(40% - 120px);
  }
  .contrato h1 {
    font-size: 2rem;
    margin-top: 40px;
  }
  .contrato img {
    width: 500px;
    height: 350px;
    margin-left: -70px;
  }
  .botao2 {
    width: 600px;
    height: 85px;
  }
  .investimento h1 {
    margin-left: 80px;
    width: 650px;
  }
  .glass {
    width: 700px;
    height: 500px;
  }
  .glass::before {
    width: 720px;
    height: 550px;
    margin-left: 10px;
  }
  .mentora {
    width: 700px;
  }
  .minhafoto {
    width: 550px;
    height: 500px;
    margin-top: 20px;
  }
  .mentoratexto {
    margin-top: 190px;
    margin-left: -150px;
  }
  .mentoraparagrafo {
    width: 400px;
  }
  .garantia {
    width: 150px;
    height: 150px;
    margin-left: 40px;
    margin-top: 60px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .titulo {
    padding: 40px;
    font-size: 1.6rem;
    width: 550px;
    line-height: 1.5;
    margin-left: -100px;

  }
  .comece {
    width: 500px;
  }
  .comece::after {
    top: 380px;
    left: 240px;
    width: 140px;
  }
  .landing{
      width: 550px;
      height: 400px;
   margin-top: -80px;
   margin-left: -60px;
  }
  .ensina h1 {
    font-size: 2rem;
    width: 550px;
    padding: 20px;
    margin-top: 25px;
    line-height: 1.3;
  }
  .botao1 {
    width: 550px;
    height: 85px;
    margin-top: 20px;
    font-size: 1.3rem;
  }
  .incentivo {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .incentivo img {
    width: 350px;
    height: 350px;
  }
  .incentivotexto {
    width: 500px;
    font-size: 1.8rem;
    color: var(--cor-1);
    margin-left: 0px;
    line-height: 1.2;
    margin-top: -10px;
  }
  .incentivotexto span {
    font-size: 2rem;
    line-height: 1;
    
  }
  .rotas {
    display: flex;
    flex-direction: column;
    width: 700px;
    align-items: center;
    justify-content: center;
  }
  .rota {
    margin-top: 50px;
    width: 500px;
    height: 550px;
  }
  .rotas p {
    font-size: 2rem;
    width: 550px;
    text-align: center;
    padding: 20px;
    line-height: 1.1;
    margin-top: 20px;
    
  }
  .rotas span {
    color: var(--cor-0);
    font-size: 2rem;
    line-height: 1;
  }
  .botao {
    width: 500px;
    height: 85px;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-left: 20px;
  }
  .guiaideal h1 {
    font-size: 1.8rem;
    width: 600px;
    line-height: 1.2;
    margin-left: 140px;
      
  }
  .listas ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: -20px;
  }
 
  .lista1 li {
    line-height: 1.2;
    font-size: 1.4rem;
    text-align: center;
    align-content: center;
    width: 500px;
    height: 100px;
    background: #5a3898;
    margin-bottom: 10px;
    margin-right: 50px;
    border-radius: 15px;
    padding: 0 10px;
  }
  .lista2 {
    margin-top: 10px;

  }
  .lista2 li {
    font-size: 1.4rem;
    line-height: 1.2;
    text-align: center;
    align-content: center;
    width: 500px;
    height: 100px;
    background: #5a3898;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-right: 50px;
    padding: 0 10px;
  }
  .aprender {
    width: 650px;
  }
  .aprender h1 {
    padding: 40px;
    font-size: 1.8rem;
    width: 450px;
    margin-top: 20px;
    align-self: center;
  }
  .lista3 {
    width: 450px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: -20px;
    
  }
  .lista3 li {
    font-size: 1.4rem;
    line-height: 1;
    text-align: center;
    align-content: center;
    width: 500px;
    height: 80px;
    margin-bottom: 10px;
    padding: 10px 40px;
  }
  .contrato h1 {
    padding: 80px;
    font-size: 2rem;
    text-align: center;
    width: 500px;  
  }
  .contrato img {
    width: 500px;
    height: 300px;
  }

  .investimento h1 {
    margin-left: 60px;
    width: 500px;
    font-size: 2rem;
  }
  .glass {
    width: 600px;
    height: 500px;
    margin-top: 40px;
    display: flex;
    padding: 20px;
    color: var(--cor-1);
    position: relative;
    z-index: 1;
  }
  .glass::before {
    width: 650px;
    height: 550px;
  }
  .cifrao {
    font-size: 2.4rem;
    margin-left: 4px;
  }
  .valor {
    margin-left: 60px;
  }
  .listareceber {
    font-size: 1.4rem;
    width: 350px;
    padding: 0;
  }

  .botao3 {
    margin-left: -15px;
    width: 280px;
    font-size: 0.8rem;
    height: 50px;
  }
  .eu {
    width: 400px;
    font-size: 1.8rem;
    margin-top: 40px;
    margin-left: -60px;
  }
  .profissao {
    font-size: 1.4rem;
    margin-top: 0px;
    margin-left: 20px;
    width: 300px;
  }
  .mentora {
    width: 550px;
  }
  .minhafoto {
    width: 500px;
    height: 450px;
    margin-top: 45px;
  }
  .mentoraparagrafo {
    width: 450px;
  }
  .mentoratexto {
    font-size: 1.2rem;
    margin-left: -140px;
    margin-top: 100px;
  }
  .garantia {
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-top: 20px;
  }
  .falarbotao {
    margin-left: 20px;
  }
  .botao2 {
    width: 600px;
    height: 55px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .logo1 {
    max-width: 300px;
    margin-left: 40px;
    margin-top: 60px;
    width: 80px;
    height: 80px;
  }

  .comece::after{
    top: 270px;
    width: 100px;
    height: 5px;
    left: 130px;
  }
  .titulo {
    padding: 40px;
    font-size: 1.2rem;
    width: 300px;
    line-height: 1.2;
    margin-left: -30px;
  }
  .landing {
    width: 250px;
    height: 200px;
    margin-top: -60px;
    position: relative;
  }
  .ensina {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: -20px;  
  }
  .ensina h1 {
    font-size: 2rem;
    width: 350px;
    padding: 20px;
    line-height: 1.3;
  }
  .botao1 {
    width: 350px;
    height: 55px;
    font-size: 1rem;
  }
  .incentivo {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .incentivo img {
    width: 250px;
    height: 250px;
  }
  .incentivotexto {
    width: 300px;
    font-size: 1.3rem;
    color: var(--cor-1);
    margin-left: 0px;
    line-height: 1.2;
    margin-top: -10px;
  }
  .incentivotexto span {
    font-size: 1.4rem;
    line-height: 1;
  }
  .rotas {
    display: flex;
    flex-direction: column;
    width: 350px;
  }
  .rota {
    width: 300px;
    height: 350px;
  }
  .rotas p {
    font-size: 1.5rem;
    width: 350px;
    text-align: center;
    color: var(--cor-1);
    padding: 20px;
    line-height: 1.1;
    margin-left: 20px;

  }
  .rotas span {
    color: var(--cor-0);
    font-size: 1.5rem;
    line-height: 1;
  }
  .botao {
    width: 300px;
    height: 55px;
    font-size: 0.8rem;
    margin-top: 20px;
    margin-left: 20px;
  }
  .guiaideal h1 {
    font-size: 1rem;
    width: 300px;
    line-height: 1.2;
    margin-top: 80px;
    margin-left: 40px;
  }
  .listas ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: -20px;
  }
  .lista1{    
     width: 300px;
  }
  .lista1 li {
    line-height: 1.2;
    font-size: 1rem;
    text-align: center;
    align-content: center;
    width: 300px;
    height: 100px;
    background: #5a3898;
    margin-bottom: 10px;
    margin-left: -50px;
    border-radius: 15px;
    padding: 0 10px;
  }
  .lista2 {
    margin-top: 10px;
       width: 300px;
  }
  .lista2 li {
    font-size: 1rem;
    line-height: 1.2;
    text-align: center;
    align-content: center;
    width: 300px;
    height: 100px;
    background: #5a3898;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left: -50px;
    padding: 0 10px;
  }
  .aprender {
    display: flex;
    flex-direction: column;
    width: 350px;
  }
  .aprender h1 {
    padding: 40px;
    font-size: 1.3rem;
    width: 350px;
    margin-top: 20px;
    margin-left: 0px;
  }
  .lista3 {
    width: 300px;
    position: relative;
    margin-left: -2px;
    margin-top: -20px;
  }
  .lista3 ul {
    display: flex;
    flex-direction: column;

  }
  .lista3 li {
    font-size: 0.8rem;
    line-height: 1;
    text-align: center;
    align-content: center;
    width: 240px;
    height: 60px;
    margin-bottom: 10px;
    padding: 10px 40px;
  }
  .lista3 li::before {
    margin-left: -35px;
  }
  .contrato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -30px;
  }
  .contrato h1 {
    padding: 80px;
    font-size: 1.2rem;
    text-align: center;
    width: 400px;
    margin-left: -10px;

  }
  .contrato img {
    width: 250px;
    height: 250px;
    margin-left: 80px;
    margin-top: -50px;
  }
  .botao2 {
    width: 300px;
    height: 45px;
    border-radius: 50px;
    font-size: 0.8rem;
    margin-top: 10px;
  }
  .investimento h1 {
    font-size: 1.2rem;
    width: 350px;
    margin-left: 40px;
    margin-top: 0px;
  }
  .glass {
    width: 300px;
    height: 400px;
    margin-top: 40px;
    display: flex;
    padding: 20px;
    color: var(--cor-1);
    position: relative;
    z-index: 1;
  }
  .glass::before {
    content: "";
    position: absolute;
    width: 330px;
    height: 440px;
    background: rgba(255, 255, 255, 0.17);
    margin-left: 10px;
    filter: opacity(60%);
    z-index: -1;
    border-radius: 20px;
    inset: 0;
    filter: blur(10px);
  }
  .logoguia {
    width: 40px;
    height: 40px;
    margin-left: 0px;
    margin-top: 30px;
  }
  .receber h2 {
    margin-top: -60px;
    margin-left: 60px;
    font-size: 1.2rem;
  }
  .listareceber {
    font-size: 0.8rem;
    margin-top: 10px;
    margin-left: 30px;
    width: 250px;
  }
  .valores {
    margin-top: 260px;
    margin-left: -280px; 
  }
  .Promo {
    margin-top: -25px;
    font-size: 0.8rem;
    margin-left: 20px;
  }
  .Promo::after {
    width: 60px;
    height: 2px;
    margin-top: 12px;
    margin-left: -130px;
  }
  .valor {
    font-size: 3rem;
    margin-left: 90px;
    margin-top: -30px;
  }
  .vezes {
    font-size: 0.8rem;
    margin-top: -30px;
    margin-left: 180px;
  }
  .cifrao {
    font-size: 2.2rem;
    margin-top: 10px;
    margin-left: 35px;
  }
  .avista {
    font-weight: var(--texto);
    font-size: 1rem;
    margin-top: 8px;
    margin-left: 40px;
  }
  .botao3 {
    width: 250px;
    height: 40px;
    font-size: 0.5rem;
    margin-top: 0px;
    margin-left: -10px;
  }
  .mentora {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-top: 20px;
  }
  .minhafoto {
    width: 300px;
    height: 300px;
    margin-top: -200px;
    margin-left: 0px;
  }
  .eu {
    width: 200px;
    font-size: 1rem;
    margin-top: 100px;
    margin-left: 160px;
  }
  .profissao {
    font-size: 1rem;
    margin-top: 0px;
    margin-left: 200px;
    width: 180px;
  }
  .mentoratexto {
    margin-left: 40px;
    margin-top: 10px;
  }
  .mentoraparagrafo {
    width: 300px;
    font-size: 1.2rem;
  }
  .duvidas {
    display: flex;
    background-color: #a27cf1;
    height: 270px;
    flex-direction: column;
    justify-content: center;
    width: 390px;

  }

  .garantia {
    width: 100px;
    height: 100px;
    margin-left: 140px;
    margin-top: -10px; 
  }
  .falar {
    margin-right: 150px;
    margin-top: 80px;
  }
  .ainda {
    width: 280px;
    font-size: 1.4rem;
    margin-top: -60px;
    margin-left: 50px;
  }
  .falarbotao {
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 40px;
    padding: 0px;
  }
  .whats {
    width: 30px;
    height: 30px;
    margin-left: 50px;
    margin-top: 0px;
    padding: 0px;
  
  }
  .falartexto {
    width: 350px;
    margin-right: 60px;
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--cor-5);
  }
}
